[submodule "solidity/foundry-simple-storage/lib/forge-std"]
	path = solidity/foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/fundme_foundry/lib/forge-std"]
	path = solidity/fundme_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/foundry-lottery/lib/forge-std"]
	path = solidity/foundry-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/foundry-lottery/lib/chainlink-brownie-contracts"]
	path = solidity/foundry-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
